<h3>Editing Application</h3>

<% form_for(@app) do |f| %>
  <%= f.error_messages %>
<%= f.label :name %>&nbsp;<%= f.text_field :name %><br/>
<%= f.label :description %><br/>
<%=  f.text_area :description,:rows=>2,:cols=>40  %><br/>
<b>Sources</b>&nbsp;<%=link_to "(Refresh All)",:controller=>"apps",:action=>"refresh",:id=>@app.id%><br/>
<table>
<tr><th>Name</th><th>Priority</th></tr>
<% @app.sources.each do |source| %>
<tr>
<td><%= link_to  source.name,edit_source_path(source,:app_id=>@app.id)%></td>
<td><%=source.priority%></td>
<td><%= link_to 'X',app_source_path(@app,source), :confirm => 'Are you sure?', :method => :delete %></td>
<!--<td><%= link_to "Refresh",:controller=>"sources",:action=>"refresh",:id=>source.id%></td>-->
</tr>
<%end %>
</table>
<p>

</p>
<p>
<%=link_to 'Add Source',:controller=>"sources",:action=>"new",:app=>@app.id %>
</p>
<p>
  <%= f.submit "Update Application Settings" %>
</p>
<b>Access Control</b><br/>
Anonymous (Allow All Users) <%=f.check_box :anonymous%><br/>
<%end%>

Or Subscribe Individual Users:<br/>
<table>
<% @app.users.each do |sub| %>
<tr><td><%= link_to sub.login + "(unsubscribe)",{:action=>:unsubscribe,:id=>@app.id,:subscriber=>sub.login}%></td></tr>
<%end %>
</table>
<p>
<%form_for(:subscribe, @app,:url=>{:controller=>"apps",:action=>"subscribe",:id=>@app.id})  do |f|%>
<select name="subscriber">
<%@users.each do |user|%>
<option value="<%=user.login%>"><%=user.login%></option>
<%end%>
</select>
<%= f.submit "Subscribe User" %>
<%end%>
</p>
<p>
<%= link_to 'Back to applications list', apps_path %>
</p>
