<h3>Your Administered Apps</h3>
<%=@current_user.login%><%if @apps and @apps.size>0%>, below are the RhoSync applications that you are an administrator of.
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Refresh</th>
    <th>Delete</th>
  </tr>
  <% for app in @apps %>
  <% if app%>
  <tr>
    <td><%=link_to app.name, edit_app_path(app) %></td>
    <td><%=h app.description %></td>
    <td><%=link_to 'Refresh',{:action=>'refresh',:id=>app.id}%></td>
    <td><%= link_to 'X', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%end%>
  <% end %>
</table>
<%else%>
, you have no administered apps.
<%end%>
<br/>
<%= link_to 'Create new app', new_app_path %><p/>

<p/>
<h3>Your Subscribed Apps</h3>
<table>
<%if @subapps and @subapps.size>0%>These are the apps you are subscribed to.
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Credentials</th>
  </tr>
<%for app in @subapps %>
<tr>
  <td><%=link_to app.name, edit_app_path(app)%></td>
  <td><%=h app.description %></td>  
  <%if app.anonymous!=1 %>
  <%sub=Membership.find_by_app_id_and_user_id app.id,@current_user.id
  %>
    <%if sub  %>
      <td>
      <% if sub.credential %>
              <%=link_to "Edit", {:action=>"getcred",:id=>app.id,:sub_id=>sub.id}%>
      <%else%>
              <%=link_to "Create",{:action=>"getcred",:id=>app.id,:sub_id=>sub.id}%>
      <% end %>
      </td>
    <%end%>
  <%end%>
</tr>

<%end%>
<%else%>
You have no subscribed apps.
<%end%>
</table>
<h3>Subscribe to an App</h3>

<form action='<%=url_for(:controller=>"apps",:action=>"subscribe",:id=>1)%>'/>
<select name="app_id">
<%@allapps.each do |app|%>
<option value="<%=app.id%>"><%=app.name%></option>
<%end%>
</select>
<% if @current_user.login=="anonymous"%>
Login&nbsp;<input name="login"/>Password&nbsp;<input name="password"/>Email&nbsp;<input name="email"/>

<%end%>
<input type="submit" value="Subscribe">
</form>
<p/>
<%if @current_user.nil? or @current_user.login=="anonymous" %><br/>
<%= link_to 'Login',{:controller=>'sessions',:action=>'new'}%><br/>
<%= link_to 'Register',{:controller=>'users',:action=>'new'}%><br/>
<%else%>
<%= link_to 'Logout',{:controller=>'sessions',:action=>'destroy'}%><br/>
<%end%>