<h3>Your Owned Apps</h3>
<%=@current_user.login%><%if @apps and @apps.size>0%>, below are your RhoSync applications.
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Refresh</th>
    <th>Delete</th>
  </tr>
  <% for app in @apps %>
  <tr>
    <td><%=link_to app.name, edit_app_path(app) %></td>
    <td><%=h app.description %></td>
    <td><%=link_to 'Refresh',{:action=>'refresh',:id=>app.id}%></td>
    <td><%= link_to 'X', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%else%>
, you have no owned apps.
<%end%>

<%= link_to 'Create new app', new_app_path %><p/>

<p/>
<h3>Your Subscribed Apps</h3>
<table>
<%if @subapps and @subapps.size>0%>These are the apps you are subscribed to.
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Credentials</th>
  </tr>
<%for app in @subapps %>
<tr>
  <td><%=link_to app.name, edit_app_path(app) %></td>
  <td><%=h app.description %></td>
  <td>
  <%sub=Membership.find_by_app_id_and_user_id app.id,@current_user.id
    if sub and sub.credential%>
  <%=link_to "Edit", {:action=>"getcred",:id=>app.id,:sub_id=>sub.id}%>
  <%else%>
  <%=link_to "Create",{:action=>"getcred",:id=>app.id,:sub_id=>sub.id}%>
  <%end%>
  </td>
</tr>
  <% end %>
  <%else%>
  You have no subscribed apps.
  <%end%>
</table>
<p/>
<%if @current_user.nil? or @current_user.login=="anonymous" %><br/>
<%= link_to 'Login',{:controller=>'sessions',:action=>'new'}%><br/>
<%= link_to 'Register',{:controller=>'users',:action=>'new'}%><br/>
<%else%>
<%= link_to 'Logout',{:controller=>'sessions',:action=>'destroy'}%><br/>
<%end%>